<% # Used for internal-facing portion of app %>
<% # Used for the external-facing design %>
<!DOCTYPE html>
<html lang="en">

<head>

  <title>Meh Tasks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body id="page-top">
<div class="container">
  <%= render partial: 'navbar' %>
  <div class="row">
    <br /><br />
  </div>
  <%= yield %>

</div>
</body>

</html>