<% # Used for the external-facing design %>
<!DOCTYPE html>
<html lang="en">

<head>

  <title>Blocitoff - A Simple Task Manager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= google_webfonts_link_tag :open_sans, :merriweather %>

</head>

<body id="page-top">

<%= yield %>

</body>

</html>
